@mixin sectionTitle {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

@mixin cardText {
    font-size: 16px;
}

@mixin sectionText {
    font-size: 20px;
    text-align: center;
}

body {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    padding: 20px 0;

    .menu {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__list {
            display: flex;
            gap: 0 25px;
            
            &-link {
                color: #fff;
            }
        }

        &__list-buy {
            display: flex;
            gap: 0 25px;
            align-items: center;
        }
        
        &__button {
            padding: 24px 30px;
            background-color: #fff;
            border-radius: 40px;
            color: #000;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.burger {
    background-image: url(../images/bg-section1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    &__row {
        padding-top: 72px;

        h1 {
            font-weight: 900;
            font-size: 66px;
            max-width: 562px;
        }

        p {
            font-size: 20px;
            padding-top: 10px;
            max-width: 510px;
        }

        button {
            padding: 20px 44px;
            background-color: #fff;
            font-weight: 700;
            color: #000;
            border-radius: 40px;
            margin-top: 40px;
        }
    }
}


.about {
    padding-top: 150px;
    background-color: #000;

    &__title {
        @include sectionTitle();
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__text {
        @include sectionText();
        max-width: 820px;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    &__inner {
        display: flex;
        gap: 0 85px;
    }

    &__text-item {
        color: #EEEEEE;
        opacity: 85%;
    }

    &__text-item span { 
        font-weight: 700;
        color: #fff;
        cursor: pointer;
    }
}

.buy {
    background-color: #000;
    padding: 150px 0;

    &__title {
        padding-bottom: 40px;
        @include sectionTitle()
    }

    &__list {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding-bottom: 90px;
    }

    &__list-link {
        color: #fff;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-bottom: 80px;
    }

    &__item {
        background-color: #191919;
    }

    .item__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-title {
        font-weight: 700;
        font-size: 24px;
        padding: 15px;
    }

    &__item-text {
        padding-left: 15px;
        padding-bottom: 10px;
    }

    &__item-price {
        font-weight: 700;
        font-size: 24px;
        padding: 15px;
    }

    &__item-icon {
        padding: 20px;
    }

    &__btn {
        display: block;
        padding: 20px 54px;
        border-radius: 40px;
        color: #000;
        text-align: center;
        font-weight: 600;
        background-color: #fff;
        margin: 0 auto;
    }
}

.food {
    background-color: #000;

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 44px;
        padding-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item-title {
        font-weight: 700;
        font-size: 56px;
        padding-bottom: 12px;
    }
}

.start {
    padding-top: 150px;
    background-color: #000;

    &__title {
        padding-bottom: 20px;
        font-size: 50px;
        font-weight: 600;
        max-width: 811px;
        margin: 0 auto;
        text-align: center;
    }

    &__text {
        font-size: 20px;
        max-width: 1170px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
    }

    &__button {
        display: block;
        padding: 20px 54px;
        background-color: #fff;
        border-radius: 40px;
        color: #000;
        margin: 0 auto;
        font-weight: 600;
    }
}

.reviews {
    background-color: #000;
    padding: 150px 0;

    &__title {
        @include sectionTitle();
        margin-bottom: 70px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 30px;
    }
    
    &__item-title {
        font-weight: 700;
        padding-top: 10px;
    }

    &__subtitle {
        opacity: 50%;
        font-size: 14px;
        padding: 5px 0;
    }

    &__text {
        padding-top: 30px;
        font-weight: 500;
        opacity: 60%;
        max-width: 310px;
    }

    &__item {
        background-color: #191919;
        padding: 30px;
        border-radius: 16px;
    }
}

.support {
    padding: 80px 0;

    &__title {
        font-weight: 700;
        font-size: 70px;
        color: #000;
        text-align: center;
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        gap: 0 20px;
    }

    &__form {
        border: 1px solid #000;
        border-radius: 40px;
        padding: 20px 30px;
        width: 530px;
    }

    &__btn {
        padding: 20px 54px;
        font-weight: 600;
        background-color: #000;
        border-radius: 40px;
    }
}

.rest {
    background-color: #0D0D0D;
    padding: 150px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 50px;
        font-weight: 700;
        max-width: 460px;
        padding-bottom: 16px;
    }

    &__text {
        font-size: 20px;
        padding-bottom: 70px;
        max-width: 460px;
    }

    &__button {
        font-weight: 700;
        padding: 20px 54px;
        background-color: #fff;
        border-radius: 40px;
        color: #000;
    }
}

.footer {
    background-color: #191919;
    padding: 80px 0;

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
    }

    &__items-link {
        color: #fff;
    }

    &__items-title,
    &__copy-title {
        font-weight: 600;
        font-size: 24px;
        padding-bottom: 6px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 24px 0;
    }

    &__copy-wrapper {
        padding-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 0;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
    }


    &__social {
        display: flex;
        gap: 0 20px;
    }
}
